.footer{
	margin:auto;
	width:100%;
	max-width:100%;
	height: auto;
	align-items: center;
	font-size: 14px;
	background-image: url("../../../assets/images/pattern-hills.svg");
	background-repeat: repeat-x ;
	background-color: #0e0912;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;

}

.iconar{
		margin-top:10%;

	padding: 15px;
}

.ic{
	padding: 5px;
	color: white;
	margin-bottom: 2%;
}

.ic:hover{
	color:hsl(345, 95%, 68%);
}

.title{
  color: white;
  font-weight: 700;
  font-family: 'Red Hat Text';
  letter-spacing: 5px;
  font-size:14px !important;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.fb-icon{
    background:none;
}

.fb-icon:hover{
    background:hsl(345, 95%, 68%);
}