.footer{
	margin:auto;
	width:100%;
	max-width:100%;
	height: auto;
	align-items: center;
	font-size: 14px;
	background-image: url("../../../assets/images/pattern-hills.svg");
	background-color: currentColor;

}

.iconac{
		align-items: center;
		margin-left:45% ;
}

.iconar{
		margin-top:10%;

	padding: 15px;
}

.title{
  color: white;
  font-weight: 700;
  font-family: 'Red Hat Text';
  letter-spacing: 5px;
  font-size:14px !important;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}