@font-face {
  font-family: Red Hat Text;
  src: url(../../../assets/fonts/RedHatText-Medium.ttf) format("opentype");
}


@media screen and (orientation: landscape) {

  .header{
    margin: auto;
    width:100%;
    height: auto;
    max-width: 100%;
    align-items: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .header  {
    margin: auto;
    width:100%;
    height: auto;
    max-width: 100%;
    align-items: center;
    font-size: 14px;
  }
}

.title{
  color: white;
  font-weight: 700;
  font-family: 'Red Hat Text';
  letter-spacing: 5px;
  font-size:14px !important;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}