@font-face {
  font-family: Red Hat Text;
  src: url(../../../assets/fonts/RedHatText-Medium.ttf) format("opentype");
}

.clock{
  display: flex;
  justify-content: center;
}

.time-names{
    display: flex;
    justify-content: center;
    padding-left: 2%;

}


.main_Timer {
  position: relative;
  margin: auto;
    font-family: "Red Hat Text ";
  font-weight: 700;
}

@media screen and (orientation: landscape) {

.time {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.mrg{
  margin-left: 10px;
}

.lrg{
  margin-left: -15px;
}

.time span,
.time_reflection span,
.time_prev span {
  color: hsl(345, 95%, 68%);
  font-size: 50px;
  background-color: hsl(235, 16%, 14%);
  padding: 5px 10px 0px 10px;
  transition: 0.4s;
  text-align: center;
  margin-right: 3px;
}

@keyframes time {
  0% {
    filter: brightness(70%);
  }
  90%,
  100% {
    filter: brightness(100%);
  }
}

.time-info{
  color: hsl(237, 18%, 59%);
  font-weight: 700;
  font-family: 'Red Hat Text';
  letter-spacing: 5px;
  font-size:9px !important;
padding: 18px;
}

.line_hor {
  position: absolute;
  width: 650px;
  height: 2px;
  margin-top: -71px;
  z-index: 10;
  margin-left : 33%;
}

.perspective {
  z-index: 5;
  margin-top: -63px;
  display: flex;
  justify-content: center;
}

.perspective .time_reflection {
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.time_reflection span {
  display: inline-block;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.time_prev {
  display: flex;
  justify-content: center;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  z-index: 4;
  filter: brightness(50%);
}

.time_prev span {
}

@keyframes stay {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes reflect {
  0% {
    transform: rotateX(130deg);
    opacity: 1;
  }
  45% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(7deg);
  }
  53% {
    transform: rotateX(0deg);
  }
  56% {
    transform: rotateX(5deg);
  }
  60% {
    transform: rotateX(0deg);
  }
  95% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.days:nth-child(2n),
.hours:nth-child(2n),
.min:nth-child(2n),
.sec:nth-child(2n) {
  margin-right: 25px;
  color:hsl(345, 95%, 68%);
}

}

@media screen and (max-width: 768px) {

.time {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.time span,
.time_reflection span,
.time_prev span {
  color: hsl(345, 95%, 68%);
  font-size: 20px;
  background-color: hsl(235, 16%, 14%);
  padding: 5px 10px 0px 10px;
  transition: 0.4s;
  text-align: center;
  margin-right: 3px;
}

.mrg{
  margin-left: 2px;
}

@keyframes time {
  0% {
    filter: brightness(70%);
  }
  90%,
  100% {
    filter: brightness(100%);
  }
}

.line_hor {
  position: absolute;
  width: 50px;
  height: 2px;
  margin-top: -72px;
  z-index: 10;
    margin-left: 10%;
}

.perspective {
  z-index: 5;
  margin-top: -28px;
  display: flex;
  justify-content: center;
}

.perspective .time_reflection {
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.time_reflection span {
  display: inline-block;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  filter: brightness(50%);
}

.time_prev {
  display: flex;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  z-index: 4;
  filter: brightness(50%);
justify-content: center;
}

.mrg{
  margin-left: 5px;
}

.lrg{
  margin-left: -12px;
}

.time-info{
  color: hsl(237, 18%, 59%);
  font-weight: 700;
  font-family: 'Red Hat Text';
  letter-spacing: 5px;
  font-size:5px !important;
  padding: 10px;
}

.time_prev span {
}

@keyframes stay {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes reflect {
  0% {
    transform: rotateX(130deg);
    opacity: 1;
  }
  45% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(7deg);
  }
  53% {
    transform: rotateX(0deg);
  }
  56% {
    transform: rotateX(5deg);
  }
  60% {
    transform: rotateX(0deg);
  }
  95% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.days:nth-child(2n),
.hours:nth-child(2n),
.min:nth-child(2n),
.sec:nth-child(2n) {
  margin-right: 25px;
  color:hsl(345, 95%, 68%);
}

}
