.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
  }
  .timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
  }

  .header{
  width:1440px;
  height: 200px;
  align-items: center;
  font-size: 14px;
  background-image: url("../../../assets/images/bg-stars.svg");
  background-color: currentColor;

}

.title{
  color: white;
  font-family: 'Red Hat Text';
  font-weight: 700;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}